%menu-font {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.16em;
    color: #000000;
}
$footer: #EEEEEE;
%title {
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
}